<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>anglarjs</title>
    <script type="text/javascript" src="angular.min.js"></script>
</head>


<body ng-app="myApp">

    <div ng-controller="firstController">
            {{msg}}
        <br/>

        <span ng-bind="msg"></span>


        <br/>

        <ul>
            <li ng-repeat="item in list">{{item}}</li>
        </ul>

        <input type="text" ng-model="username"/>
        {{username}}

        <button ng-click="getData()">执行方法</button>
    </div>


</body>


</html>


<script>

    /*
     /*
     1.通过ng-app定义myApp模块
     2.得通过angular.module('myApp',[])  实现
     两个参数: 1.模块名称    2.依赖注入的让他模块

    * */


    var app=angular.module('myApp',[]);

    app.controller('firstController',function($scope){

        $scope.msg='你好 angularjs';


        var list=['1','2','3'];

        $scope.list=list;

        //username

        $scope.username='张三';


        //定义方法
        $scope.getData=function(){
            alert($scope.username);

        }

    })


</script>