<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script type="text/javascript" src="angular.min.js"></script>
    <style>
        .button{
            width: 100px;
            height: 30px;
            text-align: center;
            color: #fff;
            line-height: 30px;
            background: red;
            font-size: 20px;
        }
    </style>

</head>


<body ng-app="myApp">


    <div ng-controller="firstController">
        <input type="text" ng-model="username"/>
        <button ng-click="addData()">增加</button>

        <ul>
            <li ng-repeat="(key,item) in list track by $index">{{key}}--{{$index}}---{{item}} -<button ng-click="removeData(key)">删除</button></li>
        </ul>
    </div>


</body>

</html>

<script>

 var app=angular.module('myApp',[]);

  app.controller('firstController', function ($scope) {

      $scope.username='张三';

      $scope.list=[];

      //增加数据的方法
      $scope.addData=function(){
          $scope.list.push($scope.username);

      }
      //删除数据的方法

      $scope.removeData=function(key){
        alert(key);
          $scope.list.splice(key,1);


      }
  })



</script>