<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ng-repeat</title>
    <script type="text/javascript" src="angular.min.js"></script>

</head>
<body ng-app="myApp">
<!--ng-repeat循环数据-->
  <div ng-controller="firstController">

      <ul>
          <li ng-repeat="item in list">

              {{item}}
          </li>
      </ul>

      <hr/>
      <br/><br/>

      <ul>
          <li ng-repeat="item in list1">

                {{item.name}}---{{item.age}}
          </li>
      </ul>
      <hr/>
      <br/><br/>

      <ul>
          <li ng-repeat="item in list1">

           索引值： {{$index}}--- {{item.name}}---{{item.age}}
          </li>
      </ul>
      <hr/>
      <br/><br/>

      <ul>
          <li ng-repeat="(key,item) in list1">

              索引值： {{key}}--- {{item.name}}---{{item.age}}
          </li>
      </ul>
      <hr/>
      <br/><br/>


      <ul>
          <li ng-repeat="item in list2">
            {{item.catename}}

                  <ol>
                      <li ng-repeat="val in item.car">

                          --{{val.title}}---{{val.price}}万元

                      </li>
                  </ol>

          </li>
      </ul>

  </div>
</body>
</html>
<script>
    var app=angular.module('myApp',[]);
    app.controller('firstController',function($scope){

        $scope.list=['张三','李四','王五'];


        $scope.list1=[
            {

                name:'张三',
                age:20
             },
            {

                name:'李四',
                age:20
            },{

                name:'王五',
                age:21
            }
        ];


        console.log($scope.list1[0]);


        $scope.list2=[
            {
                catename:'宝马',
                car:[
                    {

                        title:'宝马X1',
                        price:30

                    },
                    {

                        title:'宝马X3',
                         price:40

                    }
                ]

            },
            {

                catename:'路虎',
                car:[
                    {

                        title:'路虎极光',
                        price:30

                    },
                    {

                        title:'捷豹极光',
                        price:40

                    }
                ]

            }

        ];


    })

</script>