<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>

    <script type="text/javascript" src="angular.min.js"></script>

    <!--

    MVVM


    model 改变会影响视图view  view视图改变影响model

    -->
</head>
<body ng-app="myApp">


<div ng-controller="firstController">
    姓名:  <input type="text" name="username" ng-model="user.username"/>
    <br/> <br/>
    年龄:  <input type="text" name="age" ng-model="user.age"/>
    <br/>
    <br/>
    <button ng-click="addData()">+增加</button>
    <br/>
    <ul>
        <li ng-repeat="(key,item) in userlist track by $index">
            用户名:{{item.username}}---{{item.age}}  ---- <button ng-click="delData(key)">删除</button>
        </li>
    </ul>
</div>

</body>

</html>

<script>

    var app=angular.module('myApp',[]);


    //    $scope局部作用域  是视图和控制器的桥梁
    app.controller('firstController',function($scope,$interval){

        $scope.user={
            username:'',
            age:''
        }
        /*判断localstorage 有没有数据*/

        var list =JSON.parse(localStorage.getItem('userlist'));

       // console.log(list);
        if(list){   /*只有数组才有长度*/

            $scope.userlist=list;
        }else{
            $scope.userlist=[];  /*定义一个空数组保存每次增加的数据*/
        }

        //getData  ng-change监听数据改变
        $scope.addData=function(){
            $scope.userlist.push({
                username:$scope.user.username,
                age:$scope.user.age
            });

            /*写入保存*/
            localStorage.setItem('userlist',JSON.stringify($scope.userlist));


        }

        //删除数据

        $scope.delData=function(index){

            console.log(index);
            $scope.userlist.splice(index,1);


            /*删除保存*/
            localStorage.setItem('userlist',JSON.stringify($scope.userlist));

        }

    })



</script>